.navigation {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 25px;
  border-bottom: 1px solid red;
  padding: 10px 50px;

  .logo-container {
    padding: 30px;
  }

  .nav-links-container {
    display: flex;
    align-items: center;

    .nav-link {
      padding: 10px 15px;
      cursor: pointer;
    }
  }
}
